<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat ="item in cartOrder.orderItems">
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin" ng-if="item.album">{{item.album.title}} album</h4>
										<h4 class="nomargin" ng-if="item.concertTicket">{{item.concertTicket.band}} ticket</h4>
									</div>
								</div>
							</td>
							<td data-th="Price" >{{item.album.price | currency}}{{item.concertTicket.price | currency}}</td>
							<td data-th="Quantity">
								<input type="number" min = "1" step = "1" class="form-control text-center" ng-model ="item.quantity">
							</td>
							<td data-th="Subtotal" class="text-center" ng-if ="item.album">{{(item.quantity * item.album.price) | currency}}</td>
							<td data-th="Subtotal" class="text-center" ng-if ="item.concertTicket">{{(item.quantity * item.concertTicket.price) | currency}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh" ng-click ="updateOrderItem(item)"></i></button>
								<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o" ng-click = "removeOrderItem(item)"></i></button>								
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td><a href="#shop" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>{{cartTotal | currency}}</strong></td>
							<td><a href="#" class="btn btn-success btn-block" ng-click="buyOrder()">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>