<div>
	<div class="well well-sm">
		<strong>Concerts:</strong>
		<h4>{{col1.length + col2.length + col3.length}} results.</h4>
	</div>
	<div class="row">
		<div class="col-lg-3">

			<h1 class="my-4">Concert Vender</h1>
			<div class="btn-group-vertical" role="group">
				<button ng-click="concertLook()" class="list-group-item">View Concerts</button>
				<button ng-click="albumLook()" class="list-group-item">View Albums</button>
				<button ng-click="cdLook()" class="list-group-item">View CDs</button>
				<button ng-click="lpLook()" class="list-group-item">View Vinyls</button>
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="artistLook(artist)">Go!</button>
					</span>
					<input type="text" class="form-control" placeholder="Artist Search" ng-model="search">
				</div><!-- /input-group -->
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="artistLook()">Concerts!</button>
					</span>
					<input type="date" class="form-control" placeholder="From" name="fromDate" required="required">
					<input type="date" class="form-control" placeholder="To" name="toDate" required="required">
				</div><!-- /input-group -->
			</div>
		</div>
		<div class="col-lg-3" ng-repeat="album in col1">
			<div class="row row-offcanvas row-offcanvas-right">
				<div class="thumbnail">
					<img class="group list-group-image" src="/images/concert/Rock_Live.jpg"
						alt="Image of {{album.band}}" />
					<div class="caption">
						<h4 class="group inner list-group-item-heading">{{album.location}}</h4>
						<p class="group inner list-group-item-text">
							Artist: {{album.band}}<br /> Date: {{album.date | date}}<br />
						</p>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<p class="lead">{{album.price | currency}}</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<button class="btn btn-success" ng-click="addToCart(album,true)">Add
									to cart!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="col-lg-3" ng-repeat="album in col2">
			<div class="row row-offcanvas row-offcanvas-right">
				<div class="thumbnail">
					<img class="group list-group-image" src="/images/concert/Rock_Live.jpg"
						alt="Image of {{album.band}}" />
					<div class="caption">
						<h4 class="group inner list-group-item-heading">{{album.location}}</h4>
						<p class="group inner list-group-item-text">
							Artist: {{album.band}}<br /> Date: {{album.date | date}}<br />
						</p>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<p class="lead">{{album.price | currency}}</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<button class="btn btn-success" ng-click="addToCart(album,true)">Add
									to cart!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="col-lg-3" ng-repeat="album in col3">
			<div class="row row-offcanvas row-offcanvas-right">
				<div class="thumbnail">
					<img class="group list-group-image" src="/images/concert/Rock_Live.jpg"
						alt="Image of {{album.band}}" />
					<div class="caption">
						<h4 class="group inner list-group-item-heading">{{album.location}}</h4>
						<p class="group inner list-group-item-text">
							Artist: {{album.band}}<br /> Date: {{album.date | date}}<br />
						</p>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<p class="lead">{{album.price | currency}}</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<button class="btn btn-success" ng-click="addToCart(album,true)">Add
									to cart!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	</div>
</div>