<div>
    <div class="well well-sm">
        <strong>Concerts:</strong>
    	<h4>{{concerts.length}} results.</h4>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div class="col-lg-3">

          <h1 class="my-4">Shop Name</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
          </div>
        </div>
    <div ng-repeat="concert in concerts" class="col-lg-9">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="images/concert/Rock_Live.jpg" alt="Image of {{concert.band}}" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">{{concert.band}}</h4>
                    <p class="group inner list-group-item-text">
                        Location: {{concert.location}}<br/>                 
                        Date: {{concert.date}}</p>                   
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                {{concert.price | currency}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-success" ng-click="addToCart(concert)">Add to cart!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <pagination 
      ng-model="currentPage"
      total-items="concerts.length"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
</div>