<table class="table" style="background-color: white"
	ng-model="orderTable">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="order in orders">
			<td>{{order.owner.firstname}} {{order.owner.lastname}}</td>
			<td>{{order.timeOrdered | date}}</td>
			<td>
				<table class="table" style="background-color: white"
					ng-model="ItemTable">
					<thead>
						<tr>
							<th>Album/Concert</th>
							<th></th>
							<th>Price</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in order.orderItems">
							<td>{{item.concertTicket.band}}{{item.album.title}}</td>
							<td>{{item.concertTicket.location}}{{item.album.artist}}</td>
							<td>{{item.concertTicket.price | currency}}{{item.album.price | currency}}</td>
							<td ng-init="itemTotal(item)">{{item.quantity}}</td>
						</tr>
						<thead>
							<tr>
								<td></td>
								<td>Total: </td>
								<td>{{itemTotal | currency}}</td>
								<td></td>
							</tr>
						</thead>
					</tbody>
				</table>
			</td>
	</tbody>
</table>